extends layout
block content
  div(class='container')
    div(class='jumbotron text-center')
      h1
        span(class='fa fa-lock') Node Authentication

      p Login with:

      a(href='/admin/login', class='btn btn-default') Local sing in
      span(class='fa fa-user')
        
